<div class="crumbs">
  <%= link_to "Sites"[:sites_title], root_path %> <span class="arrow">&rarr;</span>
</div>

<h1><%= 'New Site'[:new_site] %></h1>

<% form_for :site, :url => sites_path do |f| -%>
<p><%= 'Welcome to your shiny new Altered Beast forum.  Please name your site!'[:welcome_new_site] %></p>
<%= render :partial => "form", :object => f %>
<%= submit_tag 'Create'[:Create], :or => link_to('Cancel'[:cancel], sites_path) %>
<% end -%>